@import './colors.module.scss';

.dateRange {
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 15px 42px;
  width: 100%;
  max-width: 620px;
  padding: 9px 0;
  border-radius: 5px;
  box-shadow: 4px 4px 4px $grey1, 0 0 3px $grey1; 

  .dates {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
    padding: 0 19px;
  }

  .separator {
    border-bottom: 1px solid $grey0;
    height: 15px;
  }

  .between {
    background-color: $light-blue;
  }

  .from, .to {
    background-color: $blue;
    color: $white;
  }

  .from {
    border-radius: 50% 0 0 50%;
  }
  .to {
    border-radius: 0 50% 50% 0;
  }
}
